html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
}

body {
  width: 100%;
  height: 100vh;
  background: url('assets/freedom.jpg') no-repeat 60% center/cover;
  background-size: cover;
  color: #333;
}

.wrapper {
  padding-top: 4rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
}

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.2rem; 
  text-decoration: none;
  line-height: 2rem;
  
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  font-style: italic;
}

.languagepicker {
	background-color: #FFF;
	display: inline-block;
	padding: 0;
	height: 40px;
	overflow: hidden;
	transition: all .3s ease;
	margin: 0 50px 10px 0;
	vertical-align: top;
	float: left;
}


.languagepicker:hover {
	/* don't forget the 1px border */
	height: 81px;
}

.languagepicker a{
	color: #000;
	text-decoration: none;
}

.languagepicker li {
	display: block;
	padding: 0px 20px;
	line-height: 40px;
	border-top: 1px solid #EEE;
}

.languagepicker li:hover{
	background-color: #EEE;
}

.languagepicker a:first-child li {
	border: none;
	background: #FFF !important;
}

.languagepicker li img {
	margin-right: 5px;
}

.roundborders {
	border-radius: 5px;
}


.large:hover {
	/* 
	don't forget the 1px border!
	The first language is 40px heigh, 
	the others are 41px
	*/
	height: 245px;
}

@media (min-width: 768px) {
    
      .quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.2rem; 
  text-decoration: none;
  line-height: 2.5rem;
  letter-spacing: .07rem;
  font-weight: 550;

}
    
    @media (min-width: 2560px) {
    
  .quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 6rem; 
  text-decoration: none;
  line-height: 7rem;
  letter-spacing: .4rem;

        }
        
        .author {
  font-family: 'Crimson Text', serif;
  font-size: 4.5rem;
  font-style: italic;
}
        
    }
    
    @media (min-width: 1440px)  {
        
         .quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 3rem; 
  text-decoration: none;
  line-height: 4rem;
  letter-spacing: .5rem;

        }
        
             .author {
  font-family: 'Crimson Text', serif;
  font-size: 2.2rem;
  font-style: italic;
}
  
    }
    
    